@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

.searchbox{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.searchbox.active{
    width: 360px;
}

.searchbox .search{
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
}

.searchbox .close{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.25em;
    scale: 0;
    transition: 0.3s;
}

.searchbox.active .close{
    scale: 1;
    transition-delay: 0.5s;
}

.searchbox .searchinput{
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 60px;
}

.searchbox .searchinput input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.25em;
}
